<h1>Edit</h1>

<%= simple_form_for(@house) do |f| %>
  <%= f.input :name %>
  <%= f.input :country %>
  <%= f.input :city %>
  <%= f.input :description %>
  <%= f.input :rules %>
  <%= f.input :price_per_night %>
  <%= f.submit %>
<% end %>
