<h1 class="text-center">Houses index</h1>
<div class="house-index-background">

  <div class="container">
    <div class="row">
      <% @houses.each do |house|  %>
        <div class="col-sm-3 house-hover">
          <% if @bookings.exists?(house_id: house.id) == false %>
            <div class="card" style="width: 18rem;">
              <% if  house.photos.attached? %>
                <% house.photos.each do |photo| %>
                  <%= image_tag photo, width: "500px", class: "card-img-top rounded-image" %>
                <% end %>
              <% else %>
                <%= image_tag "house_placeholder.png", width: "500px", class: "card-img-top rounded-image" %>
              <% end %>
              <div class="card-title p-0 mt-2 mb-0">
                <h6 class="mb-0"> <strong><%= house.city %>, <%= house.country %></strong></h6>
              </div>
              <div class="card-body p-0">
                <p>Host: <%= house.user.firstName %> <%= house.user.lastName %> <br> hello</p>
              </div>
              <div class="card-body d-flex justify-content-between p-0">
                <p> <strong>€<%=house.price_per_night.round%></strong>night</p>
                <% if Notification.find_by(house_id: house.id).nil? %>
                  <%= link_to "See more", house_path(house) if !current_user.houses.include?(house) %>
                <% else %>
                  <p> <strong>Request Pending...</strong> </p>
                <% end %>
              </div>

            </div>
          <% else %>
            <div class="card" style="width: 18rem;">
              <% if  house.photos.attached? %>
              <% house.photos.each do |photo| %>
                <%= image_tag photo, width: "500px", class: "card-img-top rounded-image" %>
              <% end %>
            <% else %>
              <%= image_tag "house_placeholder.png", width: "500px", class: "card-img-top rounded-image" %>
            <% end %>
              <div class="card-title d-flex justify-content-start p-3 pb-0 ps-0">
                <h6 class="mb-0"> <strong><%= house.city %>, <%= house.country %></strong></h6>
              </div>
              <div class="card-body d-flex justify-content-start ps-0">
                <p> <strong>This place is Booked already.</strong></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
