<% if @house.user == current_user  %>
  <div class="container mt-5 p-5">
    <div class="row">
      <div class="col-sm-5">
        <% if @house.photos.empty? %>
          <%= image_tag "house_placeholder.png", width: "500px", class: "card-img-top" %>
        <% else %>
          <% @house.photos.each do |photo| %>
            <%= image_tag photo, width: "500px", class: "card-img-top" %>
          <% end %>
        <% end %>
      </div>
      <div class="col-sm-5">
          <h2><strong><%= @house.name %></strong></h2>
          <h4 class="mb-3"><strong><%= @house.city %>,<%= @house.country %></strong></h4>
          <h4>Description:</h4>
          <p><%= @house.description %></p>
          <h3 class="mb-4">Price: <small><%= @house.price_per_night.round %>€/night</small> </h3>
          <p><%= "This place has currently a guest." if @house.booked == true  %></p>
      </div>
      <div class="col-sm"></div>
    </div>
    <div class="row mt-5">
      <div class="col-sm"></div>
      <div class="col-sm-4">
        <%= link_to "Edit", edit_house_path(@house), class:"btn btn-lg bt-danger default-button", style:"width: 100px" %>
      </div>
      <div class="col-sm-3">
          <%= link_to "Close housing", house_path(@house), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-lg bt-danger default-button" %>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
<% else %>
  <%= render "shared/house_guest_show" %>
<% end %>
