<div class="container" >
  <div class="row m-3">
    <div class="col-sm-4">
      <% @chatrooms.each do |chatroom| %>
        <%= link_to chatroom_path(chatroom), class: "chat-text-deco" do %>

          <% if current_user.id == chatroom.host_id  %>
            <div class="card m-3 borders p-2">
              <div class="row g-0">
                <div class="col-sm-3 d-flex align-items-center">
                  <% if User.find(chatroom.guest_id).picture.attached? %>
                    <%= cl_image_tag User.find(chatroom.guest_id).picture.key, class:"message-user-pic" %>
                  <% else %>
                    <%= image_tag "userPlaceholder.png", class:"message-user-pic" %>
                  <% end %>
                </div>
                <div class="col-sm-9">
                  <div class="card-body">
                    <div class="card-text">
                      <% if chatroom.messages.empty? %>
                        <p> <i><strong>No messages exchanged yet!</strong></i></p>
                      <% else %>
                        <p class="m-1" ><%= chatroom.messages.last.content %></p>
                        <i><%= (Time.now - chatroom.messages.last.created_at).round/60%> mins ago.</i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% elsif current_user.id == chatroom.guest_id %>
            <div class="card m-3 borders p-2">
              <div class="row g-0">
                <div class="col-sm-3 d-flex align-items-center">
                  <% if User.find(chatroom.host_id).picture.attached? %>
                    <%= cl_image_tag User.find(chatroom.host_id).picture.key, class:"message-user-pic" %>
                  <% else %>
                    <%= image_tag "userPlaceholder.png", class:"message-user-pic" %>
                  <% end %>
                </div>
                <div class="col-sm-9">
                  <div class="card-body">
                    <div class="card-text">
                      <% if chatroom.messages.empty? %>
                        <p> <i><strong>No messages exchanged yet!</strong></i></p>
                      <% else %>
                        <p class="m-1" ><%= chatroom.messages.last.content %></p>
                        <i><%= (Time.now - chatroom.messages.last.created_at).round/60%> mins ago.</i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-1 vl"></div>
    <div class="col-sm-7">
      <% if @chatroom.present? %>
        <%= render "chats/chat", chatroom: @chatroom %>
      <% end %>
    </div>
  </div>
</div>
