<div class="container p-4" >
  <h1>My Notifications</h1>
  <ul>
    <% @notifications.each do |notification| %>
      <li class="m-3">
        <div class="d-flex align-items-center">
          <p class="mb-0 me-5"><%= link_to User.find(notification.customer_id).firstName.capitalize, user_pages_profile_path(notification.customer_id) %>
                               wants to book <%= notification.house.name %> for <%= pluralize  notification.nights, "night" %>. </p>
          <%= button_to "Accept", house_bookings_path(notification.house_id), class: "btn btn-success me-3 choice-button" %>
          <%= link_to "Decline",
            delete_notification_path(notification),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger choice-button"
          %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
