<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "DreamPlacesLogo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


      <%= form_with url: houses_path, method: :get, class:"d-flex search-bar" do %>
        <div class="input-group">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a place ex.Lisbon"
          %>
          <span class="input-group-btn">
            <%= submit_tag "Search", class: "btn btn-danger search-button" %>
          </span>
        </div>
      <% end %>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

          <li class="nav-item">
            <div class="nav-notif">
              <%= link_to "Notifications", user_personal_notifications_path, class: "nav-link" %>
            </div>
            <% if Notification.where(user_id: current_user.id).count > 0  %>
              <div class="notification-icon rounded-circle d-flex justify-content-center">
                <p><%= Notification.where(user_id: current_user.id).count %></p>
              </div>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.picture.attached?  %>
              <%= image_tag current_user.picture_small, class: "dropdown-toggle rounded-circle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "userPlaceholder.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", user_pages_profile_path(current_user), class: "dropdown-item" %>
              <%= link_to "Dashboard", pages_dashboard_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
