<div class="container d-flex justify-content-around mt-5">
  <div class="row">
    <% if current_user.houses.size > 0  %>
      <div class="col-sm-12">
        <div>
          <h3 class="text-center">My Houses for Hosting</h3>
          <div class="row">
            <div class="my-houses">
              <% current_user.houses.each do |house|  %>
                <div class="col-sm-12 d-flex flex-column justify-content-center align-items-center">
                  <div class="card my-3" style="width: 18rem;">
                    <% if house.photos.attached? %>
                      <% house.photos.each do |photo|  %>
                        <%= image_tag photo, width: "500px", class: "card-img-top" %>
                      <% end %>
                    <% else %>
                      <%= image_tag "house_placeholder.png", width: "500px", class: "card-img-top" %>
                    <% end %>
                    <div class ="p-1 text-center">
                      <div class="card-title">
                        <h5><%= house.name %></h5>
                      </div>
                      <%= link_to "See more", house_path(house) %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col-sm-12 d-flex align-items-center">
        <h3>You're not hosting any place</h3>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm d-flex align-items-center justify-content-center"></div>
  </div>

  <div class="row">
    <div class="col-sm-12 d-flex flex-column justify-content-center">
      <div class="search btn-lg btn-danger default-button text-center">
        <%= link_to "Host a place", new_house_path %>
      </div>
      <%# <div class="search btn-lg btn-danger default-button"> %>
        <%# <%= link_to "Booked places", my_bookings_path %>
      <%# </div> %>
    </div>
  </div>
</div>
<hr class="m-5">
<div class="container booked-section">
  <h3><strong>Places where have I been...</strong></h3>
  <div class="row">
    <p> You still have not booked one place! <%=link_to "Start now!", houses_path if @bookings.empty? %></p>
    <% @bookings.each do |booking| %>
      <div class="col-sm-4 booked-card">
        <div class="card">
          <div class="row g-0">
            <div class="col-sm-3 me-2 mb-4 mt-3">
              <% if booking.house.photos.attached? %>
                <%booking.house.photos.each do |photo|  %>
                  <%= image_tag photo, class: "card-img-top" %>
                <% end %>
              <% else %>
                <%= image_tag "house_placeholder.png", width: "500px", class: "card-img-top booked-image-size" %>
              <% end %>
            </div>
            <div class="col-sm-8 mt-3">
              <div class="card-title">
                <h5> <strong> <%= booking.house.country %> </strong> </h5>
              </div>
              <div class="card-body p-0">
                <p> Hosted by <%= booking.house.user.firstName %> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
